extends layout

block content
  .container
    p <a href='/'>Home</a>
    p
      form(action="/search", method="post")
        input(type="text", name="search", id="id_search", class="input-xxlarge", style="height:55px;margin-right:20px;font-size:200%",placeholder="#{query}")
        button(type="submit",name="search",id="submit",class="btn btn-primary btn-large",style="vertical-align:top") Search!
    //p= "Your search query \"" +query +  "\" retrieved " + results.length + " results."
    ul(class="pager")
      li
        - if (from > 0) {
          a(href="/search/"+ query+"/"+ (from-100)+"/"+from+"/") Previous
        -}

        a(href="/search/"+ query+"/"+ (from+100)+"/"+(from+200)+"/") Next
    hr
    div
      - for(i = 0; i < results.length; i++)
        div
          div
            h3= results[i]['db_names'][0] + "." + results[i]['table_name']
          div(class="pull-right",style="vertical-align:top")
            button(id=results[i]['_id'] + "_click", type="button", class=".btn btn-primary") toggle details
        br
        div(id=results[i]['_id'])
          script
            $("##{results[i]['_id']}_click").click(function() {
                $("##{results[i]['_id']}").toggle();
            });
            $("##{results[i]['_id']}").hide();
          table(class="table table-hover table-striped")
            tbody
              - structure = results[i]['structure'].split("\n")
              - for(j = 0; j < structure.length; j++)
                - if (j == structure.length-1) {continue;}
                tr
                  - cell = structure[j].split("\t")
                  - for(k= 0; k < cell.length; k++)
                    - if (j == 0) {
                      th= cell[k]
                    - } else {
                      td= cell[k]
                    -}
        hr

