extends layout

block content
  .container
    p <a href='/'>Home</a>
    p
      form(action="/search", method="post")
        input(type="text", name="search", id="id_search", class="input-xxlarge", style="height:55px;margin-right:20px;font-size:200%",placeholder="#{query}")
        button(type="submit",name="search",id="submit",class="btn btn-primary btn-large",style="vertical-align:top") Search!
    - var end=results.length % 100;
    p= "\"" +query +  "\" return " + results.length + " results. Showing results from " + from + " to " + (from+end) + "."
    ul(class="pager")
      li
        - if (from > 0) {
          a(href="/search/"+ query+"/"+ (from-100)+"/"+from+"/") Previous
        -}

        a(href="/search/"+ query+"/"+ (from+100)+"/"+(from+200)+"/") Next
    hr
    div(class="container-fluid")
      - for(i = 0; i < results.length; i++)
        div(class="row-fluid", style="border:1px solid;border-radius:5px;padding:5px;")
          .span12
            .span8
              h3(id=results[i]['_id']+"_h3_click")
                != highlight(results[i]['db_names'][0] + "." + results[i]['table_name'], query)
            .span4.pull-right
              button(id=results[i]['_id'] + "_click", type="button", class=".btn btn-primary pull-right") show columns & databases
          div(id=results[i]['_id'],class="span12")
            script
              $("##{results[i]['_id']}_click").click(function() {
                  $("##{results[i]['_id']}").toggle();
              });
              $("##{results[i]['_id']}_h3_click").click(function() {
                  $("##{results[i]['_id']}").toggle();
              });
              $("##{results[i]['_id']}").hide();
            div(class="span8")
              table(class="table table-hover table-striped")
                tbody
                  - structure = results[i]['structure'].split("\n")
                  - for(j = 0; j < structure.length; j++)
                    - if (j == structure.length-1) {continue;}
                    tr
                      - cell = structure[j].split("\t")
                      - for(k= 0; k < cell.length; k++)
                        - if (j == 0) {
                          th!= highlight(cell[k], query)
                        - } else {
                          td!= highlight(cell[k], query)
                        -}
            div(class="span2 offset1")
              table(class="table table-hover table-striped pull-right")
                tbody
                  th database names
                  - db_names = results[i]['db_names']
                  - for(j = 0; j < db_names.length; j++)
                    tr
                      td!= highlight(db_names[j], query)
           hr

